<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div" appDraggable>

  </div>
  <ion-item routerDirection="forward" routerLink="./echarts">echarts demo</ion-item>
  <ion-item routerDirection="forward" routerLink="./signature">签名 demo</ion-item>
  <ion-item routerDirection="forward" routerLink="./scroll-tabs">自动居中的Tabs demo</ion-item>
  <div #cornerStoneDemo></div>
  <a (click)="goToEchartsDemo()">ssss</a>
  <ion-fab [offsetX]="0" [offsetY]="28" appDraggable vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button (click)="showA()">弹出A</ion-button>
  <ion-button (click)="showB()">弹出B</ion-button>
  <ion-button (click)="closeAll()">同时关闭A和B</ion-button>
</ion-content>
