.container {
  position: relative;
  display: flex;
  overflow-x: auto;
  width: 100%;
  height: 25px;
  // scroll-behavior: smooth;
  .child {
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    flex: 1;
  }
}

.active {
  color: red;
}
